.icon {
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
}

.listheader-menu {
  display: flex;
  padding: 10px;
}

.listheader-menu-left {
  flex: 1;
}

.listheader-menu-right {
  flex: 1;
  display: flex;
  justify-content: end;
}

.listheader-menu-mymenu {
  margin-left: 20px;
}
