.daily-container {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-nav {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.obj input[type="radio"] {
  display: none;
}

.obj input[type="radio"] + span {
  font-size: 15px;
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  transition: ease-in-out 0.3s;
}

.obj input[type="radio"]:checked + span {
  background-color: #ffffff;
  color: #000000;
}

.daily-items {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comic-item {
  width: 30%;
  height: 100%;
  background-color: #ffffff;
  margin: 3px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .daily-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.comic-img {
  width: 100%;
}
